%h1 Animals INDEX: Rails view
=link_to 'Home', root_path
%br
%br
=link_to 'All Animals', animals_path
%br
%br

=form_tag("/animals", method: "get") do
  =label_tag(:name, "Search by name: ")
  =text_field_tag(:name)
  =submit_tag("Go")


-unless @animals.empty?
  %ul
  - @animals.each do |a|
    %li=a.name
- else
  %b No match
